<<<<<<< HEAD
header{
    background-color: brown;
}

body{
    background-color: coral;
=======
header{
    background-color: brown;
}

body{
    background-color: coral;
>>>>>>> f85fca0a590e3b143e25ba0bb1081da162eb90a2
}